        #boxlist {
            list-style-type: none;
            margin-top: 20px;
            padding: 0;
            width: 100%;
        }

        #boxlist li {
            background-color: #fafafa;
            color: #82949a;
            margin-bottom: 7px;
            padding: 10px;
        }

        
        .form-control {
            padding: 5px;
            text-align: center;
            display: inline-block !important;
        }

        .radio label {
            min-height: 25px;
        }

        /*컨테이너 박스*/
        #container {
            background-color: #ddd;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            border-radius: 5px;
        }


        /*적재박스*/
        .box {
            border: 1px solid #333;
            color: #fff;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            border-radius: 5px;
            font-size: 12px;
            cursor: move;
        }
/*박스 정보*/
/*.box_info {text-shadow: 0px 0px 5px #000;}*/

        /*박스리스트*/
#boxlist li { border-left: 5px solid #82949a; cursor: move;}
#boxlist span {cursor: pointer; font-size: 20px; float: right;}
#boxlist strong {display: inline-block; margin: 0 10px;}


/*박스 장폭, 폭고 전환 버튼*/
.tooltip .glyphicon {font-size: 20px; padding: 20px;}
.glyphicon{cursor: pointer;}
.box .glyphicon.change_size {padding: 5px;    cursor: pointer; display: none;}

.box .glyphicon-resize-horizontal.change_size {
    position: absolute;
    left: 3px;
}
.box .glyphicon-resize-vertical.change_size {
    position: absolute;
    right: 0;
    bottom: 3px;
    top: initial;
}
#boxlist .change_size {margin-right: 5px;}




/*플로팅 버튼*/
.btn_float{ width: 40px;
    border-radius: 50%;
    position: fixed;
    right: 10px;
    bottom: 10px; cursor: pointer;}