        #boxlist {
            list-style-type: none;
            margin-top: 20px;
            padding: 0;
            width: 100%;
        }

        #boxlist li {
            background-color: #fafafa;
            color: #82949a;
            margin-bottom: 7px;
            padding: 10px;
        }

        
        .form-control {
            padding: 5px;
            text-align: center;
            display: inline-block !important;
        }

        .radio label {
            min-height: 25px;
        }

        /*컨테이너 박스*/
        #container {
            background-color: #ddd;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            border-radius: 5px;
        }


        /*적재박스*/
        .box {
            border: 1px solid #333;
            color: #fff;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            border-radius: 5px;
        }
/*박스 정보*/
/*.box_info {text-shadow: 0px 0px 5px #000;}*/

        /*박스리스트*/
#boxlist li { border-left: 5px solid #82949a; cursor: move;}
#boxlist span {cursor: pointer; font-size: 20px; float: right;}
#boxlist strong {display: inline-block; margin: 0 10px;}


.grid {
  position: relative;
}
.item {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 5px;
  z-index: 1;
  background: #000;
  color: #fff;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}